body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #d7f6d8, #DDF5F7);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.filter-header {
    background: linear-gradient(to right, #27ae60, #2ecc71);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 15px 15px 0 0;
}

.filter-header h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.filter-form {
    margin: 20px 0;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 8px;
}

footer {
    background-color: #019c5c;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #019c5c;
    padding: 1px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.navbar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%; 
}

.navbar h1 a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-left: 30px;
    font-weight: bold;
}

.navbar nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    flex-grow: 1; 
}

.navbar nav li {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.navbar nav a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    color: #fff;
    transition: ease .3s;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 40px
}

.navbar nav a:hover {
    background-color: #ffffffa8;
    color: #137049;
    border-radius: 7px;
}

@media (max-width: 768px) {
    .navbar header {
        flex-direction: column;
        text-align: center;
    }

    .navbar nav {
        margin-top: 10px;
        width: 100%; /* Garante que o nav ocupe toda a largura em dispositivos móveis */
    }

    .navbar nav li {
        display: block;
        margin-left: 0;
    }
}