* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background: linear-gradient(135deg, #d7f6d8, #DDF5F7);
}
.navbar {
    background-color: #019c5c;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 60px; 
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
}
header h1 a {
    color: #fff;
    font-size: 35px;
}
nav {
    display: flex;
    gap: 30px;
    color: #000000;
    font-size: 19px;
}
li a {
    color: #fff;
    padding: 10px;
    transition: ease .3s;
    cursor: pointer;
}
nav li a:hover {
    background-color: #ffffffa8;
    color: #000;
    border-radius: 7px;
}
nav button {
    color: #DDF5F7;
    padding: 5px 10px;
    transition: ease .3s;
    cursor: pointer;
    position: relative;
    background-color: #019c5c;
    border: 0px;
    font-size: 16px;
}
nav button:hover {
    background-color: #ffffff;
    color: #03673d;
    border-radius: 7px;
}

form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Subtraia a altura da navbar */
    margin-top: 0;
    padding: 0 20px;
}

/* Estilo dos títulos */
h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo dos grupos de formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #019c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

.form-group button:hover {
    background-color: #015c36;
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .form-group input,
    .form-group select {
        padding: 8px;
    }

    .form-group button {
        padding: 8px 16px;
    }
}

footer {
    background-color: #019c5c;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed; /* Torna o rodapé fixo */
    bottom: 0;       /* Posiciona no final da janela */
    left: 0;         /* Alinha à esquerda */
    width: 100%;     /* Ocupa toda a largura */
    z-index: 1000;   /* Garante que fique acima de outros elementos */
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.asterisco {
    color: red;
}