<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Curso</title>
    <link rel="icon" href="../../../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../style/telasAlterar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <header>
            <h1><a href="#">Curso</a></h1>
            <nav>
                <li><a href="home.html">
                    <i class="fas fa-home"></i>
                </a></li>
            </nav>
        </header>
    </div>
    <div id="app">
        <form @submit.prevent="updateCurso">
            <h2>Alterar Curso</h2>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" v-model="curso.curso" maxlength="100" required />
            </div>
            <div class="form-group">
                <label for="modalidade">Modalidade:</label>
                <select v-model="curso.modalidade" required>
                    <option disabled value="">Selecione uma Modalidade</option>
                    <option v-for="modalidade in modalidades" :key="modalidade.id" :value="modalidade.id">{{ modalidade.nome }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Alterar Curso</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                curso: {
                    id: '', // ID do curso obtido via URL
                    curso: '',
                    modalidade: '',
                },
                modalidades: []
            },
            created() {
                this.fetchModalidades();
                const params = new URLSearchParams(window.location.search);
                this.curso.id = params.get('id'); 
                this.fetchCurso();
            },
            methods: {

                async fetchCurso() {
                    try {
                        const token = localStorage.getItem('authToken');
                        const response = await fetch(`http://localhost:8081/api/v1/curso/${this.curso.id}`, {
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Content-Type': 'application/json'
                            }
                        });

                        if (!response.ok) {
                            throw new Error('Erro ao carregar o curso');
                        }

                        const data = await response.json();
                        this.curso.curso = data.curso; // Ajuste conforme retorno da API
                    } catch (error) {
                        console.error('Erro ao carregar os dados:', error);
                    }
        },
                fetchModalidades() {
                    const token = localStorage.getItem('authToken');
                    fetch('http://localhost:8081/api/v1/modalidades', {
                    headers: {
                        'Authorization': `Bearer ${token}`,  // Adiciona o token no cabeçalho
                        'Content-Type': 'application/json'
                    }
                })
                        .then(response => response.json())
                        .then(data => {
                            this.modalidades = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar modalidades:', error);
                        });
                        
                },
                updateCurso() {
                    const { id, curso, modalidade } = this.curso;
                    const cursoData = { curso, modalidade };
                    const token = localStorage.getItem('authToken');
                    fetch(`http://localhost:8081/api/v1/curso/${id}`, { 
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(cursoData),
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Curso alterado com sucesso!');
                            this.curso = {
                                id: '',
                                curso: '',
                                modalidade: ''
                            };
                            window.location.href = 'home.html';
                        } else {
                            throw new Error('Erro ao alterar o curso');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao alterar o curso, tente novamente.');
                    });
                }
            }
        });
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="public/config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>
</html>