<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Curso</title>
    <link rel="icon" href="../../../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../style/telasCadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <header>
            <h1><a href="#">Curso</a></h1>
            <nav>
                <li><a href="home.html">
                    <i class="fas fa-home"></i>
                </a></li>
            </nav>
        </header>
    </div>
    <div id="app">
        <form @submit.prevent="createCurso">
            <h2>Criar Curso</h2>
            <div class="form-group">
                <label for="curso">Curso:<span class="asterisco">*</span></label>
                <input type="text" v-model="curso.curso" maxlength="100" required placeholder="Ex: Manutenção e Suporte de informática"/>
            </div>
            <div class="form-group">
                <label for="modalidade">Modalidade:<span class="asterisco">*</span></label>
                <select v-model="curso.modalidade" required>
                    <option disabled value="">Selecione uma Modalidade</option>
                    <option v-for="modalidade in modalidades" :key="modalidade.id" :value="modalidade.id">{{ modalidade.nome }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Criar Curso</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                curso: {
                    curso: '',
                    modalidade: '' // Mudou para correspondência com o backend
                },
                modalidades: [] // Adiciona uma lista de modalidades
            },
            created() {
                this.fetchModalidades(); // Chama a função ao iniciar
            },
            methods: {
                fetchModalidades() {
                    const token = localStorage.getItem('authToken');
                    fetch('http://localhost:8081/api/v1/modalidades', {
                        headers: {
                            'Authorization': `Bearer ${token}`,  // Adiciona o token no cabeçalho
                            'Content-Type': 'application/json'
                        }
                    }) // Endpoint para pegar modalidades
                        .then(response => response.json())
                        .then(data => {
                            this.modalidades = data; // Armazena as modalidades no estado
                        })
                        .catch(error => {
                            console.error('Erro ao carregar modalidades:', error);
                        });
                },
                createCurso() {
                    const cursoData = {
                        curso: this.curso.curso,
                        modalidade: this.curso.modalidade
                    };
                    const token = localStorage.getItem('authToken');
                    fetch('http://localhost:8081/api/v1/curso', {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`,  // Adiciona o token no cabeçalho
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(cursoData)
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Erro ao criar o curso');
                    })
                    .then(data => {
                        alert('Curso criado com sucesso!');
                        this.curso = {
                            curso: '',
                            modalidade: ''
                        };
                        window.location.href = 'home.html';
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao criar o curso, tente novamente.');
                    });
                }
            }
        });
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="public/config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>
</html>