<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Aula</title>
    <link rel="icon" href="../../img/icon.png">
    <link rel="stylesheet" href="../../style/telasAlterar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <header>
            <h1><a href="#">Aula</a></h1>
            <nav>
                <li>
                    <a href="home.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
            </nav>
        </header>
    </div>
    <div id="app">
        <form @submit.prevent="updateAula">
            <h2>Alterar Aula</h2>
            <div class="form-group">
                <label for="disciplina">Disciplina:</label>
                <select v-model="aula.disciplinaId" required>
                    <option disabled value="">Selecione uma Disciplina</option>
                    <option v-for="disciplina in disciplinas" :key="disciplina.id" :value="disciplina.id">
                        {{ disciplina.nome }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="diaSemana">Dia da Semana:</label>
                <select v-model="aula.diaSemanaId" required>
                    <option disabled value="">Selecione um Dia</option>
                    <option v-for="dia in diasSemana" :key="dia.id" :value="dia.id">
                        {{ dia.dia }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="turma">Turma:</label>
                <select v-model="aula.turmaId" required>
                    <option disabled value="">Selecione uma turma</option>
                    <option v-for="turma in turmas" :key="turma.id" :value="turma.id">
                        {{ turma.nome }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="horario">Horário: </label>
                <select v-model="aula.horarioId" required>
                    <option disabled value="">Selecione um Horário</option>
                    <option v-for="horario in horarios" :key="horario.id" :value="horario.id">
                        {{ horario.horaInicio }} - {{ horario.horaTermino }}
                    </option>
                </select>
            </div>
                       
            <div class="form-group">
                <label for="sala">Sala:</label>
                <select v-model="aula.salaId" required>
                    <option disabled value="">Selecione uma Sala</option>
                    <option v-for="sala in salas" :key="sala.id" :value="sala.id">
                        {{ sala.tipoSalaNome }} {{ sala.numero }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Alterar Aula</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                aula: {
                    descricao: '',
                    disciplinaId: '',
                    horarioId: '',
                    salaId: '',
                    diaSemanaId: '',
                    turmaId: ''
                },
                disciplinas: [],
                horarios: [],
                salas: [],
                diasSemana: [],
                turmas: [],
                id: null
            },
            created() {
                const params = new URLSearchParams(window.location.search);
                this.id = params.get('id');
                this.loadData();
            },
            methods: {
                loadData() {
                    this.fetchDisciplinas();
                    this.fetchHorarios();
                    this.fetchSalas();
                    this.fetchDiasSemana();
                    this.fetchAula();
                    this.fetchTurmas();
                },
                fetchDisciplinas() {
                    fetch('http://localhost:8081/api/v1/disciplinas')
                        .then(res => res.json())
                        .then(data => this.disciplinas = data);
                },
                fetchTurmas() {
                    fetch('http://localhost:8081/api/v1/turmas')
                        .then(res => res.json())
                        .then(data => this.turmas = data);
                },
                fetchHorarios() {
                    fetch('http://localhost:8081/api/v1/horarios')
                        .then(res => res.json())
                        .then(data => this.horarios = data);
                },
                fetchSalas() {
                    fetch('http://localhost:8081/api/v1/salas')
                        .then(res => res.json())
                        .then(data => this.salas = data);
                },
                fetchDiasSemana() {
                    fetch('http://localhost:8081/api/v1/diasSemana')
                        .then(res => res.json())
                        .then(data => this.diasSemana = data);
                },
                fetchAula() {
                    fetch(`http://localhost:8081/api/v1/aulas/${this.id}`)
                        .then(res => res.json())
                        .then(data => {
                            this.aula = {
                                descricao: data.descricao,
                                disciplinaId: data.disciplinaId,
                                horarioInicioId: data.horarioInicioId,
                                horarioFimId: data.horarioFimId,
                                salaId: data.salaId,
                                diaSemanaId: data.diaSemanaId,
                                turmaId: data.turmaId
                            };
                        });
                },
                updateAula() {
                    fetch(`http://localhost:8081/api/v1/aulas/${this.id}`, {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(this.aula)
                    })
                    .then(res => {
                        if (res.ok) {
                            alert('Aula alterada com sucesso!');
                            window.location.href = 'home.html';
                        } else {
                            throw new Error('Erro ao alterar a aula');
                        }
                    })
                    .catch(err => alert('Erro: ' + err.message));
                }
            }
        });
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="public/config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>
</html>
