<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Sala</title>
    <link rel="icon" href="../../img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../style/telasHomes.css">
</head>
<body>
    <div id="app" class="container">
        <div class="navbar">
            <header>
                <h1><a href="../../index2.html">Tipo de Sala</a></h1>
                <nav>
                    <li>
                        <a href="../../index2.html">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                </nav>
            </header>
        </div>

        <div class="filters-display">
            <table v-if="currentEntity === 'tiposalas'">
                <thead>
                    <tr>
                        <th>Tipo de Sala</th>
                        <th><button @click="createTipoSala" class="create-btn">
                            <i class="fas fa-plus"></i> Criar
                        </button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tiposala in data" :key="tiposala.id">
                        <td>{{ tiposala.tipoSala }}</td>
                        <td>
                            <div class="button-group">
                                <button @click="deleteTipoSala(tiposala.id)" class="delete-btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <button @click="editTipoSala(tiposala.id)" class="altera-btn">
                                    <i class="fas fa-edit"></i>
                    
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    data: [],
                    currentEntity: 'tiposalas', 
                };
            },
            methods: {
                async fetchData(endpoint) {
                    try {
                        const token = localStorage.getItem('authToken');
                        const response = await fetch(endpoint, {
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Content-Type': 'application/json'
                            }
                        });
                        if (!response.ok) {
                            throw new Error('Erro ao buscar dados');
                        }
                        return await response.json();
                    } catch (error) {
                        console.error('Erro ao buscar dados:', error);
                        return [];
                    }
                },
                async showAll(entity) {
                    this.currentEntity = entity;
                    const endpoints = {
                        tiposalas: 'http://localhost:8081/api/v1/tiposalas',
                    };

                    this.data = await this.fetchData(endpoints[entity]);
                },
                async deleteTipoSala(id) {
                    if (confirm("Tem certeza que deseja deletar este tipo de sala?")) {
                        try {
                            const token = localStorage.getItem('authToken');
                            const response = await fetch(`http://localhost:8081/api/v1/tiposalas/${id}`, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': `Bearer ${token}`,
                                    'Content-Type': 'application/json'
                                }
                            });
                            if (response.ok) {
                                alert("Tipo de Sala deletado com sucesso!");
                                this.data = this.data.filter(tiposala => tiposala.id !== id); 
                            } else {
                                alert("Erro ao deletar o Tipo de Sala.");
                            }
                        } catch (error) {
                            console.error('Erro ao deletar o Tipo de Sala:', error);
                        }
                    }
                },
                editTipoSala(id) {
                    window.location.href = `alterarTipoSala.html?id=${id}`;
                },
                createTipoSala() {
                    window.location.href = "CadastroTipoSala.html";
                },
            },
            mounted() {
                this.showAll('tiposalas'); 
     
       }
        });
    </script>

    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>

</body>
</html>