<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala</title>
    <link rel="icon" href="../../../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../style/telasHomes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .filters-display table {
            width: 50%;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div class="navbar">
            <header>
                <h1><a href="home.html">Sala</a></h1>
                <nav>
                    <li><a href="../../../index2.html">
                        <i class="fas fa-home"></i>
                    </a></li>
                </nav>
            </header>
        </div>

        <div class="filters-display">
            <table v-if="currentEntity === 'salas'">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Capacidade</th>
                        <th>Tipo de Sala</th>
                        <th><button @click="createSala" class="create-btn">
                            <i class="fas fa-plus"></i> Criar
                        </button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sala in data" :key="sala.id">
                        <td>{{ sala.numero }}</td>
                        <td>{{ sala.capacidade }}</td>
                        <td>{{ sala.tipoSalaNome }}</td>
                        <td>
                            <div class="button-group">
                                <button @click="deleteSala(sala.id)" class="delete-btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <button @click="editSala(sala.id)" class="altera-btn">
                                    <i class="fas fa-edit"></i>
                                </button>   
                                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <script src="../../../js/VerificarPerfil.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    data: [], 
                    currentEntity: 'salas', 
                };
                },

            methods: {
                async fetchData(endpoint) {
                    try {
                        const token = localStorage.getItem('authToken');
                        const response = await fetch(endpoint, {
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Content-Type': 'application/json'
                            }
                        });
                        if (!response.ok) throw new Error('Erro ao buscar dados');
                        return await response.json();
                    } catch (error) {
                        console.error('Erro ao buscar dados:', error);
                        return [];
                    }
                },
                async showAll(entity) {
                    this.currentEntity = entity;
                    const endpoints = {
                        salas: 'http://localhost:8081/api/v1/salas',
                    };
                    let fetchedData = await this.fetchData(endpoints[entity]);
                    this.data = fetchedData.sort((a, b) => {
                        return a.numero - b.numero;
                    });
                },
                async deleteSala(id) {
                    if (confirm("Tem certeza que deseja excluir esta sala?")) {
                        try {
                            const response = await fetch(`http://localhost:8081/api/v1/salas/${id}`, {
                                method: 'DELETE',
                                headers: {
                                    'Authorization': `Bearer ${token}`,
                                    'Content-Type': 'application/json'
                                }
                            });
                            if (response.ok) {
                                alert("Sala excluída com sucesso!");
                                this.data = this.data.filter(sala => sala.id !== id);
                            } else {
                                alert("Erro ao excluir a sala.");
                            }
                        } catch (error) {
                            console.error('Erro ao excluir sala:', error);
                        }
                    }
                },
                editSala(id) {
                    window.location.href = `AlterarSala.html?id=${id}`;
                },
                createSala() {
                    window.location.href = "CadastroSala.html";
                },
            },
            mounted() {
                this.showAll('salas');
            }
        });

    </script>
    
 <footer>
    &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
    <a href="config/Privacidade.html">Política de Privacidade</a> |
    <a href="config/Termos.html">Termos de Uso</a> |
    <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
</footer>


</body>

</html>