<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Disciplina</title>
    <link rel="icon" href="../../img/icon.png">
    <link rel="stylesheet" href="../../style/telasCadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="navbar">
        <header>
            <h1><a href="#">Disciplina</a></h1>
            <nav>
                <li><a href="home.html">
                    <i class="fas fa-home"></i>
                </a></li>
            </nav>
        </header>
    </div>
    <div id="app">
        <form @submit.prevent="createDisciplina">
            <h2>Criar Disciplina</h2>
            <div class="form-group">
                <label for="nome">Nome:<span class="asterisco">*</span></label>
                <input type="text" v-model="disciplina.nome" maxlength="100" required placeholder="Ex: Português"/>
            </div>
            <div class="form-group">
                <label for="login">Professor:<span class="asterisco">*</span></label>
                <select v-model="disciplina.loginId" required>
                    <option disabled value="">Selecione um Professor</option>
                    <option v-for="login in logins" :key="login.id" :value="login.id">{{ login.perfilNome }}(a)  {{ login.login }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Criar Disciplina</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                disciplina: {
                    nome: '',
                    loginId: ''

                },
                logins: []
            },
            methods: {
                fetchLogins() {
                    fetch('http://localhost:8081/api/v1/logins/professores')
                        .then(response => response.json())
                        .then(data => {
                            this.logins = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar logins:', error);
                        });
                },
                createDisciplina() {
                    fetch('http://localhost:8081/api/v1/disciplinas', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.disciplina)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Erro ao criar a disciplina');
                        })
                        .then(() => {
                            alert('Disciplina criada com sucesso!');
                            this.disciplina = {
                                nome: '',
                                login: '',
                                
                            };
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                            alert('Erro ao criar a disciplina, tente novamente.');
                        });
                }
            },
            mounted() {
                this.fetchLogins();
            }
        });
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="public/config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>

</html>