<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Turma</title>
    <link rel="icon" href="../../img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../style/telasAlterar.css">
</head>

<body>
    <div class="navbar">
        <header>
            <h1><a href="#">Turma</a></h1>
            <nav>
                <li>
                    <a href="Home.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
            </nav>
        </header>
    </div>
    <div id="app">
        <form @submit.prevent="updateTurma">
            <h2>Alterar Turma</h2>
            <div class="form-group">
                <label for="nome">Turma:</label>
                <input type="text" v-model="turma.nome" maxlength="20"required />
            </div>
            <div class="form-group">
                <label for="periodo">Periodo:</label>
                <select v-model="turma.periodo" required>
                    <option disabled value="">Selecione um Periodo</option>
                    <option v-for="periodo in periodos" :key="periodo.id" :value="periodo.id">{{ periodo.nome }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="turno">Turno:</label>
                <select v-model="turma.turno" required>
                    <option disabled value="">Selecione um Turno</option>
                    <option v-for="turno in turnos" :key="turno.id" :value="turno.id">{{ turno.turno }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <select v-model="turma.curso" required>
                    <option disabled value="">Selecione um Curso</option>
                    <option v-for="curso in cursos" :key="curso.id" :value="curso.id">{{ curso.curso }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="semestre">Semestre:</label>
                <select v-model="turma.semestre" required>
                    <option disabled value="">Selecione um Semestre</option>
                    <option v-for="semestre in semestres" :key="semestre.id" :value="semestre.id">{{ semestre.semestre
                        }}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Alterar Turma</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                turma: {
                    nome: '',
                    periodo: '',
                    turno: '',
                    curso: '',
                    semestre: ''

                },
                periodos: [],
                turnos: [],
                cursos: [],
                semestres: []
            },
            created() {
                const params = new URLSearchParams(window.location.search);
                this.turma.id = params.get('id');

                if (!this.turma.id) {
                    alert('ID inválido. Redirecionando para a página inicial.');
                    window.location.href = 'Home.html';
                    return;
                }

                this.fetchTurma();
                this.fetchPeriodos();
                this.fetchTurnos();
                this.fetchCursos();
                this.fetchSemestres();
            },
            methods: {
                fetchPeriodos() {
                    fetch('http://localhost:8081/api/v1/periodos')
                        .then(response => response.json())
                        .then(data => {
                            this.periodos = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar períodos:', error);
                        });
                },
                fetchTurnos() {
                    fetch('http://localhost:8081/api/v1/turnos')
                        .then(response => response.json())
                        .then(data => {
                            this.turnos = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar turnos:', error);
                        });
                },
                fetchCursos() {
                    fetch('http://localhost:8081/api/v1/curso')
                        .then(response => response.json())
                        .then(data => {
                            this.cursos = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar cursos:', error);
                        });
                },
                fetchSemestres() {
                    fetch('http://localhost:8081/api/v1/semestres')
                        .then(response => response.json())
                        .then(data => {
                            this.semestres = data;
                        })
                        .catch(error => {
                            console.error('Erro ao carregar semestres:', error);
                        });
                },
                fetchTurma() {
                    fetch(`http://localhost:8081/api/v1/turmas/${this.turma.id}`)
                        .then(response => response.json())
                        .then(data => {
                            this.turma.nome = data.nome;
                            this.turma.periodo = data.periodo;
                            this.turma.turno = data.turno;
                            this.turma.curso = data.curso;
                            this.turma.semestre = data.semestre;
                        })
                        .catch(error => console.error('Erro ao carregar turma:', error));
                },
                updateTurma() {
                    console.log('Dados enviados:', this.turma);

                    if (!this.turma.nome || !this.turma.periodo || !this.turma.turno || !this.turma.curso || !this.turma.semestre) {
                        alert('Preencha todos os campos obrigatórios.');
                        return;
                    }

                    const url = `http://localhost:8081/api/v1/turmas/${this.turma.id}`;

                    fetch(url, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.turma)
                    })
                        .then(response => {
                            if (response.ok) {
                                alert('Turma alterada com sucesso!');
                                window.location.href = 'Home.html';
                            } else {
                                throw new Error('Erro ao alterar a turma');
                            }
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                            alert('Erro ao alterar a turma, tente novamente.');
                        });
                }
            }
        }
        );
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>

</html>