<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Horário</title>
    <link rel="stylesheet" href="../../style/telasCadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../../img/icon.png">
</head>
<body>
    <div class="navbar">
      <header>
          <h1><a href="#">Horário</a></h1>
          <nav>
                <li>
                    <a href="home.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
          </nav>
      </header>
    </div>
    <div id="app">
        <form @submit.prevent="createHorario">
          <h2>Criar Horário</h2>
          <div class="form-group">
            <label for="horaInicio">Hora de Início:<span class="asterisco">*</span></label>
            <input type="time" v-model="horarios.horaInicio" required />
          </div>
          <div class="form-group">
            <label for="horaTermino">Hora de Término:<span class="asterisco">*</span></label>
            <input type="time" v-model="horarios.horaTermino" required />
          </div>
          <div class="form-group">
            <button type="submit">Criar Horário</button>
          </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                horarios: {
                    horaInicio: '',
                    horaTermino: ''
                }
            },
            methods: {
                createHorario() {
                    const horarioData = {
                        horaInicio: this.horarios.horaInicio,
                        horaTermino: this.horarios.horaTermino
                    };

                    const token = localStorage.getItem('authToken');
                    fetch('http://localhost:8081/api/v1/horarios', {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(horarioData)
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Erro ao criar o horário');
                    })
                    .then(data => {
                        alert('Horário criado com sucesso!');
                        this.resetForm();
                        window.location.href = 'home.html';  // Redireciona para a home após criação
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao criar o horário, tente novamente.');
                    });
                },
                resetForm() {
                    this.horarios = {
                        horaInicio: '',
                        horaTermino: ''
                    };
                }
            }
        });
    </script>
    <footer>
        &copy; 2024 Sistema de Gerenciamento de Aulas. Todos os direitos reservados. |
        <a href="config/Privacidade.html">Política de Privacidade</a> |
        <a href="public/config/Termos.html">Termos de Uso</a> |
        <a href="https://portal.ifpe.edu.br/palmares/">Contato</a>
    </footer>
</body>
</html>
